// Define variables for your color scheme

// For example:
$blue: #02223C;
$green: #2BB6A8;
$bg-color: #F6F7F8;
$yellow: #A18276;




$red: #FD1015;
$orange: #E67E22;
$gray: #909090;
$light-gray: rgb(221, 221, 221);

$night-mode-bg: #2E2428;
$night-mode-green: #3F7D20;
$night-mode-text: #D4F2DB;
$night-mode-disabled: #AB87FF;