// Specific CSS for your home-page
.home {
  padding: 3rem 12rem;
  margin: $margin-home;

  &__header {
    text-align: center;
    padding: 2rem;
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
}

@media (max-width: 1200px) {
  .home {
    padding: 2rem 8rem;
  }
}

