<div class="container">
  <div class="home">
    <div class="home__header">
      <h1>Find up to date snippets for translating Ruby to Python.</h1>
    </div>
    <div class="home__search">
      <form class="d-flex w-50">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success ml-2" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
